
body{
background-color:whitesmoke !important;
}

.line{
    border-top-style: solid;
    border-radius: 2px;
    margin-left: 50px;
    margin-right: 50px;
    flex-direction: column;
}

.para{
    margin-left: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
}

.date{
    margin-left: 80px;
    font-weight: bold;
    color:maroon;
}

.h1{
    text-align: center;
    font-weight: bolder !important;
    padding-bottom: 20px;
}

.lorem{
    margin-right: 70px;
    font-weight: bold;
    color:maroon;
}

.para{
    font-weight: bold;
}

.ref{
    width: 90px;
    height: 20px;
    color: white;
    background-color:maroon;
    margin-left: 1%;
    clip-path: polygon(0% 0%, 92% 0, 100% 100%, 0% 100%);
    margin-bottom: -11px;
}

#row2{
    padding-top: 60px;
}

#topmost1{
    display: flex;
    flex-direction: row;
}

